body, html{
    margin: 0px;
    padding: 0;
}
.container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100%;
        z-index: 1;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: blue;
    position: relative;
    width: 100vw;
    height: 110px;
    padding: 5px;
}

.img-cabecalho {
    display: flex;
    background-color: white;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    padding: 0px 5px;
}

.img-cabecalho img {
    width: 100px;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.menu a{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    margin: 10px 50px 10px 50px;
    text-decoration: none;
    color: #000;
}

.menu a:hover{
    text-decoration: underline;
    }

.titulos h1 {
    font-family: "Inter", sans-serif;
    font-size: 50px;
    font-weight: 100;
    margin-top: 35px;
}

.titulos h3 {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    margin-top: 35px;
}

.opcao {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-top: 20px;
}

.toggle {
    position: relative;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(231, 230, 239);
    margin: 5px 30px;
}

.toggle::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:blue;
    border: 1px solid blue;
    transition: 0.5s;
    box-shadow: 0px 0px 8px cyan;
}

.toggle.active::before{
    left: calc(100% - 38px);
}

.opcao h3 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 100;
}

.dadosPesquisa, .periodo{
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

.dadosPesquisa{
    margin-top: 35px;
}

.dadosPesquisa input {
    margin-top: 5px;
    border: 1.9px solid;
    padding:0px 20px;
    width: 630px;
    height: 33px;
    font-size: 16px;
    text-transform: Uppercase;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    box-shadow: -2px 5px 5px #a0a0a0;
} 
.periodo{
    margin-top: 15px;
}

.inicial{
    border: 1px solid red;
}

.final{
    border: 1px solid red;
}

.periodo input {
    margin-top:5px;
    border: 1.9px solid;
    padding:0px 10px;
    width: 300px;
    height: 33px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    box-shadow: -2px 5px 5px #a0a0a0;
    cursor: pointer;
} 

.periodo #dataHoraInicial{
    margin-right: 22px;
}

.gerar {
    display: inline-block;
    align-items: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.gerar button{
    background-color: #ffffff;
    display: inline-block;
    border: 1.5px solid blue;
    width: 343px;
    height: 60px;
    border-radius: 40px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: blue;
}

.gerar button:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}

.resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

table{
    border: 1.5px solid black;
    border-radius: 5px;
}

table th{
    width: 150px;
    height:35px;
    font-family: 'Inter', sans-serif;
    border-bottom: 1.5px solid black;
}

table tr td{
    width: 150px;
    height: 35px;
    border-radius: 5px;
}

table, th td{
    font-family: 'Inter', sans-serif;
    text-align: center;
}

table tr td:hover {
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0px 0px 5px black;
}

tr:nth-child(even) {
    background-color: rgba(196, 236, 251, 0.5);
}

.rodape {
    display: flex;
    align-content: center;
    justify-content:center;
    background-color: blue;
    height: 80px;
    padding: 5px;
    margin-bottom: 0;
    width: 100vw;}

.rodape p{
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;}

.tabela resultado{
    background-color: silver;
    width: 665px;
    height: 400px;
    border-radius: 10px;
}
