html, body {
    margin: 0 !important;
    padding: 0 !important;
    
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: blue;
    position: relative;
    width: 100vw;
    height: 110px;
    padding: 5px;
}

.img-cabecalho {
    display: flex;
    background-color: white;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    padding: 0px 5px;
}

.img-cabecalho img {
    width: 100px;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.menu a{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    margin: 10px 50px 10px 50px;
    text-decoration: none;
    color: #000;
}

.menu a:hover{
    text-decoration: underline;
    }

.introduction {

    margin: 0px;
    padding: 0;
    width: 100%;
    height: 600px;
    display: grid;
    justify-content: center;
    background-color: #f3f3f3;
    position: relative;
}

.introduction h2 {
    grid-row: 1;
    grid-column: 1 / span 5;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}

#entregadores {
    grid-row: 2;
    grid-column: 3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 600px;
}

#botaowpp{
    grid-row: 4;
    grid-column: 5;
    width: 40px;
    position: sticky;
    bottom: 20px;
}

.quemsomos {

    margin: 0px;
    width: 100%;
    height: 600px;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 200px;
}

.quemsomos h1,
h3 {
    font-family: "Inter", sans-serif;
    font-weight: 100;
    text-align: center;
}

.quemsomos h1 {
    grid-column: 1 /span 3;
    grid-row: 1;
    width: 500px;
    text-align: initial;
}

.quemsomos h3 {
    margin: auto;
    font-size: 20px;
    grid-column: 1 / span 3;
    grid-row: 2;
    background-color: #5BC2E7;
    padding: 30px;
    border-radius: 20px;
}

.quemsomos img {
    margin-left: 70px;
    grid-column: 3/ span 2;
    grid-row: 2;
    width: 215px;
    margin-bottom: 20px;
}

.servicos {
    margin: 0;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #f3f3f3;
}

.servicos h2 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 100;
}

.formulario {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 600px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.formulario::before {
    display: flex;
    content: " ";
    background-image: url("../img/caminhao.png");
    background-size: 100vi 1000px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.20;
    z-index: -1;
}

.formulario h3 {
    margin-top: auto;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.precadastro {
    display: grid;
    column-gap: 20px;
    row-gap: 35px;
}

.precadastro input {
    border: 1px solid #000;
    height: 33px;
    border-radius: 20px;
    padding: 0px 10px;
    text-transform: uppercase;
}

#nome {
    width: 295px;
    grid-row: 1;
    grid-column: 1;
}

#sobrenome {
    width: 295px;
    grid-row: 1;
    grid-column: 2;
}

#telefone {
    width: 295px;
    grid-row: 2;
    grid-column: 1;
}

#celular {
    width: 295px;
    grid-row: 2;
    grid-column: 2;
}

#email {
    width: 630px;
    grid-row: 3;
    grid-column: 1 / span 2;
}

.formulario button {
    background-color: #fff;
    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 50px;
    margin: auto;
    font-size: 20px;
    padding: 10px 40px;
}

.formulario button img {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.faleconosco {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
    column-gap: 50px;
    height: 600px;
    background-color: #f3f3f3;
}

#faleconoscoimg {
    grid-row: 1 / span 5;
    grid-column: 2;
}

.contatos {
    width: 600px;
    height: 150px;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    line-height: 1;
}

.contatos h4,
p {
    font-family: "Inter", sans-serif;
    font-weight: 100;
}

.contatos p {
    line-height: 1.8;
    font-weight: 100;
    word-spacing: 20px;
    margin: 0px;
}

.contatos h4 {
    font-size: 18px;
    margin-bottom: 35px;
}

.redessociais {
    grid-column: 1;
    grid-row: 4;
    display: grid;
    column-gap: 0px;
    justify-content: start;
}

.redessociais img {
    cursor: pointer;
    margin-right: 20px;
}

.redessociais p {
    grid-row: 1;
    grid-column: 1 / span 4;
}

#instagram {
    width: 40px;
    grid-row: 2;
    grid-column: 1;
}

#twitter {
    width: 40px;
    grid-row: 2;
    grid-column: 2;
}

#whatsapp {
    width: 40px;
    grid-row: 2;
    grid-column: 3;
}

#youtube {
    width: 40px;
    grid-row: 2;
    grid-column: 4;
}

.rodape {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: blue;
    height: 80px;
    padding: 5px;
    margin-bottom: 0;
    width: 100%;
}

.rodape p {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}
